
<h1>Minha conta</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if page == 'dados_acesso' %}disabled active{% endif %}" href="{{ path('app_minha_conta_dados_acesso_aluno') }}">Dados de acesso</a>
    </li>
</ul>
      