$darkPrimary: #00324A;
$gray: #dadada;
$grayLight: #f4f4f4;
$primary: #28ABC7;
$primaryOpacity: #F9F871;
$blue: #28ABC7;
$blueLink: #00324A;
$white: white;
$success: #B5F184;
$green: #B5F184;
$danger: #e02611;
$red: #78362f;
