<div class="d-flex flex-row">
    {{ form_row(opcao) }}
    <a href="#" id="deletaOpcao" class="remove-opcao btn shadow-default btn-danger ml-2" style="height: 38px;"><i class="fas fa-trash"></i></a>
</div>